<div *ngFor="let item of data">
    <div class="card">
      <ng-container *ngFor="let key of dataKeys">
        <div class="field">
          <span class="field-label">{{ key }}: </span>
          <ng-container [ngSwitch]="schema.items.properties[key].type">
            <a *ngSwitchCase="'email'" href="mailto:{{ item[key] }}">{{ item[key] }}</a>
            <a *ngSwitchCase="'link'" href="{{ item[key] }}" target="_blank">{{ item[key] }}</a>
            <span *ngSwitchCase="'phone'">{{ item[key] }} ☎️</span>
            <img *ngSwitchCase="'thumbnailUrl'" [src]="item[key]" [alt]="item.title" class="photo-thumbnail" />
            <span *ngSwitchDefault>{{ item[key] }}</span>
            <ng-container *ngSwitchCase="'object'">
              <ng-container *ngIf="key === 'address'">
             <!-- put YOUR_API_KEY with your google api key to show the map box -->
              <!-- <iframe
                width="300"
                height="200"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q={{ restaurant.location.lat }},{{ restaurant.location.lng }}"
                allowfullscreen>
              </iframe> -->
                <a href="https://www.google.com/maps/search/?api=1&query={{ item[key].geo.lat }},{{ item[key].geo.lng }}" target="_blank">Map</a>
              </ng-container>
            </ng-container>
            <div *ngSwitchCase="'array'">
              <ng-container *ngIf="key === 'favoriteRestaurants'">
                <div *ngFor="let restaurant of item[key]">
                  {{ restaurant.name }}
                  <a href="https://www.google.com/maps/search/?api=1&query={{ restaurant.location.lat }},{{ restaurant.location.lng }}" target="_blank">Location</a>
                </div>
              </ng-container>
              <ng-container *ngIf="key === 'otherPhones'">
                <span *ngFor="let phone of item[key]; let last = last">
                  {{ phone }} ☎️<span *ngIf="!last">, <br/></span>
                </span>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  