@import "../../../style/variables";

.user-list {
  list-style-type: none;
  padding: 0;

  li {
    border-bottom: 2px solid #ccc;
    padding: 10px 0;

    &:last-child {
      border-bottom: none;
    }

    .user-info {
      display: flex;
      flex-direction: column;

      .user-detail,
      .additional-info {
        margin-bottom: 10px;

        strong {
          font-weight: bold;
        }

        a {
          color: $primary-color;
        }
      }

      .additional-info {
        display: flex;
        flex-direction: column;

        h4 {
          margin-bottom: 5px;
        }

        ul {
          list-style-type: none;
          padding: 0;
          display: flex; 
          flex-wrap: wrap;

          li {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
