<div *ngFor="let user of users">
  <div class="user-card">
    <ng-container *ngFor="let key of userKeys">
      <div class="user-field">
        <span class="field-label">{{ key }}:</span>
        <ng-container [ngSwitch]="schema.items.properties[key].type">
          <a *ngSwitchCase="'email'" href="mailto:{{ user[key] }}">{{ user[key] }}</a>
          <a *ngSwitchCase="'website'" href="{{ user[key] }}" target="_blank">{{ user[key] }}</a>
          <span *ngSwitchDefault>{{ user[key] }}</span>
          <ng-container *ngSwitchCase="'object'">
            <ng-container *ngIf="key === 'address'">
              <!-- replace YOUR_API_KEY with your google api key to show the map box -->
              <!-- <iframe
                width="300"
                height="200"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q={{ restaurant.location.lat }},{{ restaurant.location.lng }}"
                allowfullscreen>
              </iframe> -->
              <a href="https://www.google.com/maps/search/?api=1&query={{ user[key].geo.lat }},{{ user[key].geo.lng }}" target="_blank">Map</a>
            </ng-container>
          </ng-container>
          <div *ngSwitchCase="'array'">
            <ng-container *ngIf="key === 'favoriteRestaurants'">
              <div *ngFor="let restaurant of user[key]">
                {{ restaurant.name }}
                <a href="https://www.google.com/maps/search/?api=1&query={{ restaurant.location.lat }},{{ restaurant.location.lng }}" target="_blank">Location</a>
              </div>
            </ng-container>
            <ng-container *ngIf="key === 'otherPhones'">
              <span *ngFor="let phone of user[key]; let last = last">
                {{ phone }}<span *ngIf="!last">, </span>
              </span>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
