<div *ngFor="let photo of photos">
  <div class="photo-card">
    <ng-container *ngFor="let key of photoKeys">
      <div class="photo-field">
        <span class="field-label">{{ key }}:</span>
        <ng-container [ngSwitch]="schema.items.properties[key].type">
          <ng-container *ngSwitchCase="'string'">
            <ng-container [ngSwitch]="key">
              <a *ngSwitchCase="'url'" href="{{ photo[key] }}" target="_blank">{{ photo[key] }}</a>
              <img *ngSwitchCase="'thumbnailUrl'" src="{{ photo[key] }}" alt="{{ photo.title }}" class="photo-thumbnail" />
              <span *ngSwitchDefault>{{ photo[key] }}</span>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>{{ photo[key] }}</ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
